<!-- ui:
平台，自适应大小，超出隐藏。
有多个桌面项，可拖动。 
1.桌面项数据列表 -->

<div class="body" #body [cdkContextMenuTriggerFor]="desktop_menu">
        
<!-- 桌面项列表 -->
<div class="items"> 
        <app-desktop-item-cmp class="item" 
        *ngFor="let item of desktopItems"  
        cdkDrag 
        cdkDragBoundary=".body"
        [cdkDragFreeDragPosition]="item.position" 
        [data]="item"
        (cdkDragEnded)="onDragEnded($event,item)"
        (onRemove)="removeItem(item)"
        ></app-desktop-item-cmp>
</div>

<!-- 窗口区域 -->
<app-window-container-cmp></app-window-container-cmp>
</div>

<ng-template #desktop_menu>
        <div class="menu" cdkMenu> 
          <button class="menu-item"  cdkMenuItem (click)="createFolder()" >新建文件夹</button>
          <button class="menu-item"  cdkMenuItem [cdkMenuTriggerFor]="new_doc">新建文件<span>&#10148;</span></button>  
          <button class="menu-item"  cdkMenuItem (click)="load()"  >刷新</button>     
          <button class="menu-item"  cdkMenuItem  *ngFor="let item of ext_operations" (click)="ext_operation_execute(item)" >{{item.name}}</button>
        </div>
</ng-template>

<ng-template #new_doc>
        <div class="menu" cdkMenu>
          <button class="menu-item"  cdkMenuItem  *ngFor="let item of createFile_templates" (click)="createFile(item)" >{{item.name}}</button> 
        </div>
</ng-template>