<div class="body" #body>
 
    <div *ngFor="let item of wsm.windowDtos"  
    [style.width]="item.isSizeMax ? '100%' : item.width"
    [style.height]="item.isSizeMax ? '100%' : item.height" 
    cdkDrag 
    [cdkDragFreeDragPosition]=" item.isSizeMax ? {x: 0, y: 0} :item.position"  
    (cdkDragEnded)="onDragEnded($event,item)"> 
    <app-window-cmp  
        [title]="item.title"
        [url]="item.url" 
        [style.zIndex]="item.zIndex"
        [id]="item.id"
        [isSizeMax]="item.isSizeMax"
        (close)="wsm.close(item.id)"
        (sizeMin)="wsm.hide(item.id)"
        (sizeMax)="wsm.sizeMax(item.id)"
        (sizeCommon)="wsm.sizeCommon(item.id)" 
        *ngIf="!item.isHide"
        [style.width]="true? '100%' : item.width"
        [style.height]="true ? '100%' : item.height" 
    > 
    </app-window-cmp>
</div>
</div>