<div class="body" #body>

    <div class="window-cmp" *ngFor="let item of windowDtos"  
    [style.width]="item.isSizeMax ? '100%' : item.width"
    [style.height]="item.isSizeMax ? '100%' : item.height" 
    [style.display]="item.isHide ? 'none' : 'block'"
    cdkDrag 
    [cdkDragFreeDragPosition]=" item.isSizeMax ? {x: 0, y: 0} :item.position"  
    (cdkDragEnded)="onDragEnded($event,item)"
    appResizable class="resizable-box"
    > 

    <div class="resize-handle top-left"></div>
    <div class="resize-handle top-right"></div>
    <div class="resize-handle bottom-left"></div>
    <div class="resize-handle bottom-right"></div>
    <div class="resize-handle top"></div>
    <div class="resize-handle bottom"></div>
    <div class="resize-handle left"></div>
    <div class="resize-handle right"></div>
    <app-window-cmp  
        [title]="item.title"
        [url]="item.url"
        [style.zIndex]="item.zIndex"
        [id]="item.id"
        [isSizeMax]="item.isSizeMax"
        (close)="wsm.close(item.id)"
        (sizeMin)="wsm.hide(item.id)"
        (sizeMax)="wsm.sizeMax(item.id)"
        (sizeCommon)="wsm.sizeCommon(item.id)"
        [style.width]="true? '100%' : item.width"
        [style.height]="true ? '100%' : item.height" 
    > 
    </app-window-cmp>
 
 
</div>
</div>