.body
    background: white
    overflow: auto

.header 
    height: 25px
    padding: 5px
    font-size: small

.tool-bar
    height: 25px
    padding: 5px
    font-size: small
    
.spacer
    flex: 1 1 auto

.hidden
    display: none

.content
    width: 100%
    height: 100% 