<div class="body">

    <!-- 头部 -->
    <div class="header" >
            <label>{{title}}</label>
            <button mat-icon-button>-</button>
            <button mat-icon-button>o</button>
            <button mat-icon-button>x</button>
    </div> 
    <!-- 工具栏 -->
    <div class="tool-bar">
        <button mat-icon-button>后退</button>
        <button mat-icon-button>前进</button>
        <button mat-icon-button>刷新</button>
        <span class="spacer" ></span>
        <button mat-icon-button>配置</button> 
    </div>
    <!-- 内容展示 -->
    <div class="content">
        <iframe [src]="url" frameborder="0" width="100%" height="100%"></iframe>
    </div>

</div>