<div class="body">
    <mat-toolbar class="toolbar">

        <button mat-icon-button><mat-icon>arrow_back</mat-icon></button>
        <button mat-icon-button><mat-icon>arrow_forward</mat-icon></button>
        <button mat-icon-button><mat-icon>arrow_upward</mat-icon></button>
        <button mat-icon-button><mat-icon>refresh</mat-icon></button>

        <mat-divider [vertical]="true"></mat-divider>
        <app-toolbar-address-cmp class="address"></app-toolbar-address-cmp>
      
        <mat-divider [vertical]="true"></mat-divider>
        <input matInput type="text">
        <button mat-icon-button><mat-icon>search</mat-icon></button>

    </mat-toolbar>
</div>