<div class="body">
    <mat-toolbar class="toolbar">

        <button mat-icon-button (click)="coreSvc.recordBack()" [disabled]="!coreSvc.isCanBack()"  ><mat-icon>arrow_back</mat-icon></button>
        <button mat-icon-button (click)="coreSvc.recordForward()" [disabled]="!coreSvc.isCanForward()"><mat-icon>arrow_forward</mat-icon></button>
        <button mat-icon-button (click)="coreSvc.toParent()" [disabled]="!coreSvc.isExistParent()" ><mat-icon>arrow_upward</mat-icon></button>
        <!-- <button mat-icon-button (click)="coreSvc.refresh()" ><mat-icon>refresh</mat-icon></button> -->

        <mat-divider [vertical]="true"></mat-divider>
        <app-toolbar-address-cmp class="address"></app-toolbar-address-cmp>
      
        <mat-divider [vertical]="true"></mat-divider>
        <input matInput type="text" [(ngModel)]="query" >
        <button mat-icon-button (click)="search()" ><mat-icon>search</mat-icon></button>

    </mat-toolbar>
</div>