<div class="body" [matTooltip]="data.desc!" *ngIf="data.position" [cdkContextMenuTriggerFor]="desktop_item_menu">
<img cdkDragHandle src="{{data.iconUrl}}" class="icon" />
<div cdkDragHandle *ngIf="!renaming">{{data.name}}</div>
<div [style.display]="!renaming?'none':'block'"><input #renameInput type="text" [(ngModel)]="template_name" /></div>
<mat-tooltip-component >{{data.desc}}</mat-tooltip-component>
</div>

<ng-template #desktop_item_menu>
    <div class="menu" cdkMenu> 
      <button class="menu-item"  cdkMenuItem (click)="open()">打开</button>
      <!-- <button class="menu-item"  cdkMenuItem [cdkMenuTriggerFor]="open_way"> 打开方式 <span>&#10148;</span></button> -->
      <button class="menu-item"  cdkMenuItem (click)="rename()" >重命名</button>
      <button class="menu-item"  cdkMenuItem (click)="onRemove.emit(data)" >删除</button>  
      <button class="menu-item"  cdkMenuItem  *ngFor="let item of ext_operations_current" (click)="ext_operation_execute(item)" >{{item.name}}</button>
    </div>
</ng-template>

<ng-template #open_way>
    <div class="menu" cdkMenu>
      <button class="menu-item"  cdkMenuItem>Document</button>
      <button class="menu-item"  cdkMenuItem>From template</button>
      <button class="menu-item"  cdkMenuItem>Spreadsheet</button>
      <button class="menu-item"  cdkMenuItem>Presentation</button>
      <button class="menu-item"  cdkMenuItem>Form</button>
    </div>
</ng-template>